.envrc

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
gitlab-mr-note

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Generated sources
*-packr.go

vendor